.product-card {
  width: 350px;              // Card width
  height: 420px;             // Card total height
  border-radius: 16px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  text-align: left;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.12);
  }

  /* ================= IMAGE SECTION ================= */
  .MuiCardMedia-root {
    width: 100%;
    height: 300px;           // Image container height
    object-fit: contain;
    background-color: #f5f6f7;
    padding: 16px;
  }

  /* ================= TEXT SECTION ================= */
  .MuiCardContent-root {
    height: 200px;           // Remaining space for text
    padding: 16px;
    display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    flex-direction: column;
    justify-content: center;     // vertical centering
    align-items: center;         // horizontal centering
    text-align: center;  

    .MuiTypography-h6 {
      font-size: 1.2rem;
      font-weight: 90;
      line-height: 1.3;
      max-height: 2.6em;     // 2 lines max
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 10px;
    }

    .MuiTypography-body2 {
      font-size: 1.5rem;
      font-weight: 600;
      color: #2e7d32;
      margin-top: 20px;      // Push price to bottom
    }

        display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    overflow: hidden;
    word-break: break-word;
    margin-bottom: 10px;
  }
}
